# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres@localhost:5432/akrab_management?schema=public"
AKRAB_API_KEY=0a1ccba4-e6fc-498c-af2f-5f889c765aaa
ID_TELEGRAM=6329512174
PASSWORD="ahban123"
API_URL=https://api.tuyull.my.id
AUTH_URL = https://test.amtsilati.online
AUTH_TRUST_HOST=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_APP_URL=https://test.amtsilati.online
AUTH_SECRET="mjw4aY/CJxtIJXnpKADsV/IBTv5wc8sC5KgrNxbJxjY=" # Added by `npx auth`. Read more: https://cli.authjs.dev
MIDTRANS_SERVER_KEY=SB-Mid-server-wkwpnYQLunZtWr7qFvMYwegs
MIDTRANS_CLIENT_KEY=SB-Mid-client-c4OUSok8id2xcSiA
MIDTRANS_IS_PRODUCTION=false
